.connectedWallet {
  text-align: end;
  margin: 10px;
}

.disconnected {
  color: #ff5555;
}

.connected p {
  color: #ff79c6;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 54px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.bio span {
  color: #bd93f9;
}

.buttons, .buttonInsurance {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

.forms {
  margin: 24px auto;
  text-align: center;
}

.flightForm {
  display: flexbox;
  flex-direction: column;
}

.flightNumber {
  padding: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.buttonInsuranceWrapper {
  text-align: center;
}

.buttonInsurance {
  background-color: #bd93f9;
}

.back {
  margin-right: 24px;
}